PORT=3000
HOST=0.0.0.0

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=ticketmaster

TM_CONSUMER_KEY=
TM_CONSUMER_SECRET=
TM_BASE_URL=https://app.ticketmaster.com
TM_API_VERSION=v2
